.items-center{
  align-items:center
}
.grid-cols-6{
  grid-template-columns: repeat(6, minmax(0, 1fr))
}
.grid-cols-5{
 grid-template-columns: repeat(5, minmax(0, 1fr))
}
.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr))
}
.grid-cols-2{
grid-template-columns: repeat(2, minmax(0, 1fr))
}
.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr))
}
.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr))
}
.grid{display:grid}.basis-1\/2{flex-basis:50%}.flex{display:flex}.gap-1{gap:4px}.gap-2{gap:8px}.gap-4{gap:16px}.gap-6{gap:24px}.gap-12{48px}.gap-24{gap:96px}.justify-center{justify-content:center}.basis-full{flex-basis:100%}html{scroll-behavior:smooth;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent}body,center,dd,del,div,dt,em,footer,h1,h2,h3,h4,h5,h6,i,iframe,img,p,q,s,small,span,strike,strong,sub,sup,table,tbody,td,tr,u{margin:-1px 0 0 0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;font-family:Roboto,sans-serif}.u{-moz-user-select:none;-webkit-user-select:none;cursor:default}table{border-collapse:collapse;border-spacing:0}body{line-height:1
}
body{
  background-color:#ffffff;
  overflow-x:hidden}iframe,img,svg{max-width:100%}h1,h1 b,h1 span,h2,h2 b,h2 span,h3,h3 b,h3 span{font-family:Roboto,sans-serif}a{text-decoration:none;font-family:Roboto,sans-serif}a.btn{font-family:Poppins,sans-serif}em span.lg,em span.md,em span.sm{font-style:italic}@media (max-width:600px){.flex-large,.flex-small{margin-right:0!important;margin-bottom:16px}}.flexrow{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center}.flex-large,.flex-small{flex-basis:100%}.flex-large:last-child,.flex-small:last-child{margin-right:0!important}@media (min-width:600px){.flex-small{flex:1;margin-bottom:0!important;padding-bottom:0!important}.flex-small.half{flex:0 0 calc(1 / 2 * 100%)}.flex-small.one-fifth{flex:0 0 calc(1 / 5 * 100%)}.flex-small.two-fifths{flex:0 0 calc(2 / 5 * 100%)}.flex-small.one-fourth{flex:0 0 calc(1 / 4 * 100%)}.flex-small.two-fourths{flex:0 0 calc(2 / 4 * 100%)}.flex-small.three-fourths{flex:0 0 calc(3 / 4 * 100%)}.flex-small.one-third{flex:0 0 calc(1 / 3 * 100%)}.flex-small.two-thirds{flex:0 0 calc(2 / 3 * 100%)}}@media (min-width:1000px){.flex-large{flex:1;margin-bottom:0}.flex-large.half{flex:0 0 calc(1 / 2 * 100%)}.flex-large.one-fifth{flex:0 0 calc(1 / 5 * 100%)}.flex-large.two-fifths{flex:0 0 calc(2 / 5 * 100%)}.flex-large.one-fourth,.flex-large.two-fourths{flex:0 0 calc(1 / 4 * 100%)}.flex-large.three-fourths{flex:0 0 calc(3 / 4 * 100%)}.flex-large.one-third{flex:0 0 calc(1 / 3 * 100%)}.flex-large.two-thirds{flex:0 0 calc(2 / 3 * 100%)}}@media (min-width:640px){.sm\:gap-1{gap:6px}.sm\:gap-2{gap:12px!important}.sm\:gap-4{gap:24px}.sm\:gap-6{gap:32px}.sm\:gap-12{gap:64px}.sm\:gap-24{gap:128px}.sm\:grid-cols-6{grid-template-columns:repeat(6,minmax(0,1fr))}.sm\:grid-cols-5{grid-template-columns:repeat(5,minmax(0,1fr))}.sm\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr))}.sm\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}.sm\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}.sm\:grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}}

#divis-3251 {
position: relative;
padding: 2vh 20vw 2vh 20vw;
background-color: #2c1330;
}
@media (max-width:1200px) {
#divis-3251 {
padding: 1vh 8vw 1vh 10vw;
}
}
@media (max-width:600px) {
#divis-3251 {
padding: 1.5vh 1.5vw 1.5vh 1.5vw;
}
}

#divis-670 {
position: relative;
padding: 3vh 20vw 3vh 20vw;
background-color: #401e4d;
}
@media (max-width:1200px) {
#divis-670 {
padding: 1.5vh 10vw 1.5vh 10vw;
}
}
@media (max-width:600px) {
#divis-670 {
padding: 1.5vh 1.5vw 1.5vh 1.5vw;
}
}

.headline-4556-element h1 {
font-size: 2.72vw;
text-align: center;
padding-top: 2vh;
padding-bottom: 4vh;
color: #ffffff;
line-height: 1.5;
font-weight: 500;
}
@media (max-width: 1200px) {
.headline-4556-element h1 {
font-size: 3.9vw;
padding-top: 1.5vh;
padding-bottom: 3vh;
}
}
@media (max-width: 640px) {
.headline-4556-element h1 {
font-size: 5.72vw;
text-align: center;
}
}

#divis-671 {
position: relative;
padding: 5vh 20vw 5vh 20vw;
background-color: #0b001d;
}
@media (max-width:1200px) {
#divis-671 {
padding: 2.5vh 10vw 2.5vh 10vw;
}
}
@media (max-width:600px) {
#divis-671 {
padding: 4.5vh 1.5vw 4.5vh 1.5vw;
}
}

.vid-321hb {
border: 2px solid #dab5e8;
box-shadow: 0 0 6px 3px rgba(175, 112, 199, 0.33);
border-radius: undefined;
}
video.smartplayer-video {
border-radius: 0px !important;
}

#divis-711503 {
position: relative;
padding: 1vh 20vw 1vh 20vw;
background-color: #401e4d;
}
@media (max-width:1200px) {
#divis-711503 {
padding: 0.5vh 10vw 0.5vh 10vw;
}
}
@media (max-width:600px) {
#divis-711503 {
padding: 1.5vh 1.5vw 1.5vh 1.5vw;
}
}

#divis-18405 {
position: relative;
padding: 1vh 20vw 1vh 20vw;
background-color: #401e4d;
}
@media (max-width:1200px) {
#divis-18405 {
padding: 0.5vh 10vw 0.5vh 10vw;
}
}
@media (max-width:600px) {
#divis-18405 {
padding: 1.5vh 1.5vw 1.5vh 1.5vw;
}
}

.fbComment-713123n-element {
padding: 16px;
border-radius:20px;
background-color:#fff;
}
.fbComment-713123n-element p {
font-family: 'Helvetica', 'Arial', sans-serif;
}

.footer-15579-element {
text-align: center;
font-size: 1.20vw;
color: #ffffff;
}
.footer-15579-element a {
padding: 0 !important;
color: #ffffff !important;
}
@media (max-width:1200px) {
.footer-15579-element {
text-align: center;
font-size: 1.95vw;
color: #ffffff;
}
}
@media (max-width:640px) {
.footer-15579-element {
text-align: center;
font-size: 3.30vw;
color: #ffffff;
}
}

.descrip-HY4452-element h3 {
font-size: 1.3vw;
text-align: center;
padding-top: 1vh;
padding-bottom: 4vh;
color: #ffffff;
line-height: 1.1;
font-weight: 400;
}
@media (max-width: 1200px) {
.descrip-HY4452-element h3 {
font-size: 1.9vw;
padding-top: 0.75vh;
padding-bottom: 3vh;
}
}
@media (max-width: 640px) {
.descrip-HY4452-element h3 {
font-size: 3.4vw;
text-align: center;
}
}

.QJujFF0776537 {display: none}
@media (max-width: 640px) {
html {overflow-x:hidden}
}

.zooming {
 animation: zooming 1.25s ease infinite; 
} 
@keyframes zooming {
 0% {
  transform: scale(1, 1); 
} 
50% {
 transform: scale(1.1, 1.1); 
} 100% {
 transform: scale(1, 1); 
} 
}
.px-1{
  padding-left:4px;
  padding-right:4px
}
.pt-0.5{
  padding-top:2px
}
.mt-4{
  margin-top:16px
}
@media (min-width:640px){.sm\:text-sm{font-size:14px;line-height:20px}}.mt-2{margin-top:8px}.mb-2{margin-bottom:8px}.flex{display:flex}.w-full{width:100%}.space-x-1>:not([hidden])~:not([hidden]){margin-left:.25rem}.items-center{align-items:center}.font-\[Helvetica\]{font-family:Helvetica,Arial,sans-serif}.cursor-pointer{cursor:pointer}.rounded-full{border-radius:99999px}.h-12{height:48px}.w-12{width:48px}.flex-col{flex-direction:column}.py-1{padding-top:4px;padding-bottom:4px}.px-3{padding-left:12px;padding-right:12px}.pl-0\.5,.px-0\.5{padding-left:2px}.rounded-\[18px\]{border-radius:18px}.bg-stone-100{background-color:#f5f5f4}.px-0\.5{padding-right:2px}.font-semibold{font-weight:600}.text-\[\#365899\]{color:#365899}.text-\[13px\]{font-size:13px}.leading-4{line-height:16px}.hover\:underline:hover{text-decoration-line:underline}.text-sm{font-size:14px}.relative{position:relative}.justify-between{justify-content:space-between}.grow{flex-grow:1}.text-xs{font-size:12px}.text-\[\#90949c\]{color:#90949c}.ml-px{margin-left:1px}.gap-1{gap:4px}.w-fit{width:fit-content}.hidden{display:none}.-mt-1{margin-top:-4px}.-mt-2{margin-top:-8px}.mr-2{margin-right:8px}.h-4,.h-5{height:16px}.drop-shadow{--tw-drop-shadow:drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));filter:var(--tw-drop-shadow)}.bg-slate-50{background-color:#f8fafc}.py-0\.5{padding-top:2px;padding-bottom:2px}.pr-1{padding-right:4px}.block{display:block}.w-4{width:16px}.-ml-1{margin-left:-4px}.ml-4{margin-left:16px}.gap-x-0\.5{column-gap:2px}.mr-0\.5{margin-right:2px;margin-left:2px}.border-l{border-left-width:1px}.border-slate-300{border-color:#cbd5e1}.border-dotted{border-style:dotted}.ml-5{margin-left:20px}.h-8{height:32px}.w-8{width:32px}.h-10{height:40px}.w-10{width:40px}@media (min-width:640px){.sm\:w-16{width:64px}.sm\:ml-12{margin-left:48px}}.pl-2{padding-left:8px
}
@media (max-width: 768px) {
  .video-player {
    width: 100%;
    background: 0 0;
  }
  .video-player iframe {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
  #frame {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
}

* {
  font-family: helvetica, arial, sans-serif;
}

body {
  font-size: 16px;
}
.descriptio{
  text-align: center;
  color: white;
}
.px-1{
  padding-left:4px;
  padding-right:4px
}
.pt-0.5{
  padding-top:2px
}
.mt-4{
  margin-top:16px
}
@media (min-width:640px){
  .sm\:text-sm{
    font-size:14px;
    line-height:20px
}
}
.mt-2{
  margin-top:8px
}
.mb-2{
  margin-bottom:8px
}
.flex{
  display:flex
}
.w-full{
  width:100%
}.space-x-1>:not([hidden])~:not([hidden]){
  margin-left:.25rem
}
.items-center{
  align-items:center
}
.font-\[Helvetica\]{
  font-family:Helvetica,Arial,sans-serif
}
.cursor-pointer{
  cursor:pointer
}
.rounded-full{
  border-radius:99999px
}
.h-12{
  height:48px
}
.w-12{
  width:48px
}
.flex-col{
  flex-direction:column
}
.py-1{
  padding-top:4px;padding-bottom:4px
}
.px-3{
  padding-left:12px;padding-right:12px
}
.pl-0\.5,.px-0\.5{
  padding-left:2px
}
.rounded-\[18px\]{
  border-radius:18px}
.bg-stone-100{
  background-color:#f5f5f4
  }
.px-0\.5{
  padding-right:2px
  }
.font-semibold{
  font-weight:600
  }
.text-\[\#365899\]{
    color:#365899
  }
.text-\[13px\]{
  font-size:13px
}
.leading-4{
  line-height:16px
}
.hover\:underline:hover{
  text-decoration-line:underline
}
.text-sm{
  font-size:14px
}
.relative{
  position:relative
}
.justify-between{
  justify-content:space-between
}
.grow{
  flex-grow:1
}
.text-xs{
  font-size:12px
}
.text-\[\#90949c\]{
  color:#90949c}
.ml-px{
    margin-left:1px
  }
.gap-1{
    gap:4px
  }
.w-fit{
    width:fit-content
  }
.hidden{
    display:none
  }
.-mt-1{
    margin-top:-4px
  }
.-mt-2{
    margin-top:-8px
  }
.mr-2{
  margin-right:8px
}
.h-4,.h-5{
  height:16px
}
.drop-shadow{
  --tw-drop-shadow:drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));filter:var(--tw-drop-shadow)
}
.bg-slate-50{
  background-color:#f8fafc
}
.py-0\.5{
  padding-top:2px;padding-bottom:2px
}
.pr-1{
  padding-right:4px
}
.block{
  display:block
}
.w-4{
  width:16px
}
.z-10{
  z-index:10
}
.-ml-1{
  margin-left:-4px
}
.ml-4{
  margin-left:16px
}
.gap-x-0\.5{
  column-gap:2px
}
.mr-0\.5{
  margin-right:2px;margin-left:2px
}
.border-l{
  border-left-width:1px
}
.border-slate-300{
  border-color:#cbd5e1
}
.border-dotted{
  border-style:dotted
}
.ml-5{
  margin-left:20px
}
.h-8{
  height:32px
}
.w-8{
  width:32px
}
.h-10{
  height:40px
}
.w-10{
  width:40px
}
@media (min-width:640px){
.sm\:w-16{width:64px
}
.sm\:ml-12{
margin-left:48px
}
}
.pl-2{
  padding-left:8px
}

.bbtn {
  width: 100%;
  max-width: 449px;
}

@media (max-width: 768px) {
  .video-player {
    margin-top: 0 !important;
  }
}

.a-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      border: 0; 
      font: inherit; 
      vertical-align: baseline;
      color: #2e82bc; 
      outline: 0; 
      line-height: 1; 
      text-align: center; 
      position:relative!important; display: inline-block!important;
      border-style: solid; 
      width: 100%; padding-left: 0!important; padding-right: 0!important; 
      margin-bottom: 10px; 
      padding: 22px 44px; border-color: #ff5535; border-width: 0px; 
      border-radius: 6px; 
      background: linear-gradient(to bottom, #ff6600 0%, #ff5535 100%); 
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
      text-decoration: none!important;
    }
    .span-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      margin: 0; 
      border: 0; 
      font: inherit;
      vertical-align: baseline;
      display: block; 
      position: relative; 
      z-index: 1; 
      padding: 0 15px; 
      white-space: normal; 
      font-size: 25px;
      color: #ffffff; 
      font-family: Oswald; 
      font-weight: bold; 
      text-shadow: #000000 0px 1px 0px;
      text-decoration: none;
    }
    .span-btn2 {
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      padding: 0; border: 0;
      font: inherit; 
      vertical-align: baseline; 
      display: block; 
      position: relative;
      z-index: 1; 
      margin: .2em 0 -.5em; 
      font-size: 15px; 
      color: #f5e051; 
      font-family: Cabin; 
      font-weight: bold; 
      font-style: italic;
      text-shadow: #000000 0px 1px 0px;
    }

    .carrit{
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-size:18px;
  line-height:1.5
}

    .descriptio-element h3 {
font-size: 1.39vw;
text-align: center;
padding-top: 1vh;
padding-bottom: 1.3vh;
color: #ffffff;
line-height: 1.1;
font-weight: 400;
}
@media (max-width: 1200px) {
.descriptio-element h3 {
font-size: 1.55vw;
padding-top: 0.75vh;
padding-bottom: 1.3vh;
}
}
@media (max-width: 640px) {
.descriptio-element h3 {
font-size: 3.2vw;
text-align: center;
padding-bottom: 0.5vh;
}
}